* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  box-sizing: border-box;
  color: #000;
}

body {
  background-color: #18978f;
}

.container {
  width: 400px;
  margin: 10px auto 0 auto;
}

.no-current-score,
.your-current-score,
.no-high-score,
.your-high-score {
  margin-bottom: 20px;
  margin-left: 10px;
}

.number-choice-form {
  margin-bottom: 10px;
  margin-left: 10px;
}

.msg-space {
  height: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.currentscore,
.highscore {
  width: 300px;
  border-radius: 15px;
  border: solid #444 2px;
  margin-bottom: 10px;
  background-color: #e9dac1;
}

.submit-button,
.reset-button {
  background-color: #18978f;
  padding: 5px;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  font-size: 14px;
}

.submit-button:hover {
  background-color: #54bab9;
}

.copyright {
  padding: 10px;
  font-size: 14px;
  background-color: #f7ecde;
  border-bottom: 4px solid #444;
}

header {
  border-top: 4px solid #444;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #f7ecde;
}

h2 {
  margin: 10px 0 10px 10px;
  font-size: 25px;
}

label,
input {
  margin-right: 5px;
}

input {
  font-size: 14px;
}

label {
  font-weight: bold;
}
